
body {
  background-image: url('background.png');
}

img {
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

button {
    width: 600px;
    height: 600px;
    background-image: url('start_button.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: -360px auto 0 auto;
    display: block;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    background-color: transparent;
    transition: all 0.3s ease;
}

button:hover {
    filter: brightness(0.8); 
    transform: scale(1.01);
}

button:active {
    filter: brightness(0.6);
    transform: scale(0.98); 
}